@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;

}
.form-whole{
    width: 100%;
    margin:30px auto;

}
 .form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
 }

.form-group{
    text-align:left;
    color: black;
    font-size:20px;
    font-weight: 500;
}
 .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } 
  
  .form-check {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    border: none;
    border-radius: 0.25rem;
  }
  
  .form-check input:checked {
    background-color: #2188ff;
  }
  
  .form-check input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-check-label {
    position: relative;
    margin-left: 3px;
    line-height: 1.6;
    color: #495057;
    pointer-events: none;
  }
  
  .form-check-label input:checked + .form-check-label::before {
    content: "";
    background-color: #2188ff;
    border-radius: 0.25rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  
